[submodule "security"]
	path = security
	url = https://bitbucket.org/raviqqe/universe-security
[submodule "lib/docker-rake-tasks"]
	path = lib/docker-rake-tasks
	url = https://github.com/raviqqe/docker-rake-tasks
